@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.img-slider-btn {
  @apply block absolute top-0 bottom-0 px-2 overflow-hidden hover:bg-[rgba(74,74,74,0.3)] transition-colors ease-in-out duration-300;
}

:root {
  @apply bg-[#1B1B1B] text-white/100;
}

.filter-btn {
  @apply flex border-[1px] px-8 py-2 hover:bg-gray-700 transition-all duration-300 ease-in-out justify-center;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners[type="number"] {
  -moz-appearance: textfield;
}

#image-track {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 2vmin;
  left: 50%;
  //top: 35%;
  transform: translate(0%, 0%);
  //transform: translate(0%, 0%);
  width: max-content;
  user-select: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover; /* aspect ratio fix */
  //object-position: 0% center;
}
